{% extends "template.html" %}
{% block content %}

<main class="">
    <form class="form mt-[20vh] px-8 " action="{{url_for('autentification')}}" method="post" >
        <fieldset class="flex flex-col text-white items-center text-left">
            <input type="hidden" name="next" value="{{ next or url_for('home') }}">
            <div class="flex flex-col my-2 w-2/5">
                <label class="font-semibold text-xl mt-4 mb-2" for="username" >Username</label>
                <input class="bg-slate-400 font-light rounded-md mb-1 py-1.5 px-1" type="text" id="username" name="username" required>
            </div>
            <div class="flex flex-col my-2 w-2/5">
                <label  class="font-semibold text-xl mb-2" for="password" >Password</label>
                <input class=" bg-slate-400 font-light rounded-md mb-1  py-1.5 px-1" type="password" id="password" name="password" required>
            </div>         
            <div class="flex justify-center mt-8 w-1/5">
                <button type="submit" class=" w-full py-2.5 bg-slate-700 rounded-md font-bold">Send</button>
            </div>            
        </fieldset>

    </form>
</main>

{% endblock %}