<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;500;700;900&display=swap" rel="stylesheet">
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;500;700;900&display=swap');
  </style>
  <script src="https://cdn.tailwindcss.com"></script>
  <script>
    tailwind.config = {
      theme: {
        fontFamily: {
          'inter': ['Inter', 'sans-serif'],
        },
        plugins: [
          require('@tailwindcss/forms'),
          // ...
        ],
        extend: {
          colors: {
            clifford: '#da373d',
          }
        }
      }
    }
  </script>

  <title>Stocks</title>
</head>
 
<body class="bg-slate-900 font-[inter] relative">
  <nav class=" m-12  flex place-content-between items-center">
    <div>
      <a class="text-3xl font-bold underline text-white font-bold px-4" href="{{url_for('home')}}">Stocks</a>
      <a class="text-3xl font-bold underline text-white font-bold px-4" href="{{url_for('new_stock')}}">New Stock</a>
    </div>
    <div>
      <a class="text-3xl font-bold underline text-white font-bold px-4" href="{{url_for('login')}}">Login</a>
      <a class="text-3xl font-bold underline text-white font-bold px-4" href="{{url_for('logout')}}">Logout</a>      
    </div>
  </nav>
  {% with messages = get_flashed_messages() %}
  {% if messages %}
  <ul id="messages">
    {% for message in messages %}
    <li>
      <div class="bg-cyan-700 text-center py-4 my-4 lg:px-4">
        <div class="p-2 bg-cyan-800 items-center text-indigo-100 leading-none lg:rounded-full flex lg:inline-flex" role="alert">
          <span class="font-semibold mr-2 text-left flex-auto">{{ message }}</span>
        </div>
      </div>
    </li>
    
    {% endfor %}
  </ul>
  {% endif %}
  {% endwith %}


  {% block content %}
  {% endblock %}
  <script type="text/javascript" src="{{ url_for('static', filename='jquery.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='app.js') }}"></script>


  <footer class="absolute top-[85vh] mt-16">
    <svg class="hidden lg:block" width="1440" height="161" viewBox="0 0 1440 161" fill="none"
      xmlns="http://www.w3.org/2000/svg">
      <path
        d="M0 129L48 113C96 97 192 65 288 38.3C384 12 480 -9.99998 576 6.30002C672 22 768 76 864 91.7C960 108 1056 86 1152 91.7C1248 97 1344 129 1392 145L1440 161H1392C1344 161 1248 161 1152 161C1056 161 960 161 864 161C768 161 672 161 576 161C480 161 384 161 288 161C192 161 96 161 48 161H0V129Z"
        fill="#5EA4DB" />
    </svg>

  </footer>


</body>

</html>